<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Idkjk
                <fa-icon [icon]="['fas', 'angle-down']" style="padding-right: 20px;"></fa-icon>

            </th>
            <th scope="col">Nombre
                <fa-icon [icon]="['fas', 'angle-down']" style="padding-right: 20px;"></fa-icon>

            </th>
            <th scope="col">Contacto</th>
            <th scope="col">email</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>8787jhjh</td>
            <td>Otto</td>
            <td>9834784359</td>

            <td class="buttonSpace">
                <div>oferrera@gmail.com</div>

                <div class="divOption">
                    <button class="btnDelete">
                <fa-icon [icon]="['far', 'trash-alt']" style=""></fa-icon>

             
                </button>
                </div>
            </td>



        </tr>
        <tr>
            <th scope="row">2</th>
            <td>878jhjj</td>
            <td>Thornton</td>
            <td>9834784359</td>
            <td class="buttonSpace">
                <div>oferrera@gmail.com</div>

                <div class="divOption">
                    <button class="btnDelete">
                <fa-icon [icon]="['far', 'trash-alt']" style=""></fa-icon>

             
                </button>
                </div>
            </td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>9834784359</td>
            <td class="buttonSpace">
                <div>oferrera@gmail.com</div>

                <div class="divOption">
                    <button class="btnDelete">
                <fa-icon [icon]="['far', 'trash-alt']" style=""></fa-icon>

             
                </button>
                </div>
            </td>

        </tr>
    </tbody>
</table>


<div class="vermas">
    <div>Ver más...</div>
    <button class="btnList">1</button>
    <button class="btnList">2</button>
    <button class="btnList">3</button>


</div>