<div class="container-fluid">
    <h3 class="name" style="padding: 25px;">Ordenes disponibles</h3>


    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">id de orden
                    <fa-icon [icon]="['fas', 'angle-down']" style="padding-right: 20px;"></fa-icon>

                </th>
                <th scope="col">Cliente
                    <fa-icon [icon]="['fas', 'angle-down']" style="padding-right: 20px;"></fa-icon>

                </th>

                <th scope="col">Cantidad de productos
                    <fa-icon [icon]="['fas', 'angle-down']" style="padding-right: 20px;"></fa-icon>

                </th>
                <th scope="col">Repartidores
                    <fa-icon [icon]="['fas', 'angle-down']" style="padding-right: 20px;"></fa-icon>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders;let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{order._id}}</td>
                <td>{{order.user.firstName}} {{order.user.lastName}}</td>

                <td class="buttonSpace">
                    <div>{{order.orderDetails.length}}</div>

                </td>
                <td>
                    <mat-form-field class="selected-basic" appearance="fill">
                        <mat-label>Biker</mat-label>
                        <mat-select [(ngModel)]="bikerID" required name="food" id="muni">
                            <mat-option *ngFor="let biker of bikers" [value]="biker._id">{{biker.firstName}} {{biker.lastName}}</mat-option>

                        </mat-select>
                    </mat-form-field>


                    <button class="btnEdit" (click)="takeOrder(order._id)">
                        Asignar orden
        
                        </button>
                </td>
            </tr>


        </tbody>

    </table>



    <!-- <div class="vermas">
        <div>Ver más...</div>
        <button class="btnList">1</button>
        <button class="btnList">2</button>
        <button class="btnList">3</button>


    </div> -->

</div>