.table {
    margin: 2rem 5rem!important;
    width: 90%;
}

.vermas {
    display: flex;
    width: 20%;
    padding-left: 50px;
    justify-content: space-around;
    padding-top: 5rem;
}

.btnList {
    background-color: white;
    border: 0;
}

.buttonSpace {
    display: flex;
    justify-content: space-between;
}

.divOption {
    display: flex;
    width: 20%;
    justify-content: space-around;
}

.btnDelete {
    background-color: #DE5555;
    color: white;
    border: 1px solid;
    border-radius: 6px;
    padding: 2px 10px;
}

.btnEdit {
    background-color: #2E8C4E;
    color: white;
    border: 1px solid;
    border-radius: 6px;
    padding: 2px 10px;
}

#containerP {
    padding-left: 110px;
    padding-top: 30px;
}

#product {
    color: #DB6D0B;
}

.option {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.spanSearch {
    border-radius: 0px 7px 7px 0px!important;
    background: transparent;
    border-left: 0;
    background-color: #8080800a
}

.search {
    border-radius: 7px 0px 0px 7px;
    border: 1px solid #8080805e;
    width: 80%;
    border-right: transparent;
    background-color: #8080800a;
}

.newUser {
    background-color: transparent;
    border: 1px solid #DB6D0B;
    color: #DB6D0B;
    padding-left: 2rem;
    padding-right: 4rem;
    border-radius: 7px;
    padding-top: 4px;
    padding-bottom: 0.3rem;
    width: 20rem;
    font-size: 18px;
    cursor: pointer;
    margin-left: 155px;
}

#datos {
    width: 118px;
    text-align: center;
}