<div class="container">
    <h3 style="padding-top: 25px;">Bessy Daniela Zavala Licona</h3>
    <div class="containerInfor">
        <div class="infor">
            <h6>
                Id:
            </h6>
            <h6 style="    font-weight: 400;">
                0814199800412
            </h6>
        </div>
        <div class="infor" style="width: 18rem;">
            <h6>
                Correo:
            </h6>
            <h6 style="    font-weight: 400;">
                danny15zavalalic@gmail.com
            </h6>
        </div>
        <div class="infor">
            <h6>
                telefono:
            </h6>
            <h6 style="    font-weight: 400;">
                984634749
            </h6>
        </div>
    </div>

    <div class="doc">
        <div>
            <h6 style="font-weight: bold;">Imagen de la licencia</h6>
            <img src="../../../assets/img/licencia.png" alt="">
        </div>

        <div>
            <h6 style="font-weight: bold;">Imagen del vehículo</h6>
            <img src="../../../assets/img/licencia.png" alt="">
        </div>
    </div>

    <div class="buttons">
        <button type="button" mat-raised-button class="btn-outline-light accept">
         
            
            Aceptar</button>

        <button type="button" mat-raised-button class="btn-outline-light cancel">
         
            
                Rechazar</button>
    </div>
</div>